USE [master]
GO
/****** Object:  Database [Geprogan]    Script Date: 17/09/2025 01:20:42 a. m. ******/
CREATE DATABASE [Geprogan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Geprogan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Geprogan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Geprogan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Geprogan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Geprogan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Geprogan]
GO
/****** Object:  Table [dbo].[Ciclo_Produccion]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciclo_Produccion](
	[IDCiclo] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoCp] [int] NOT NULL,
	[IDUsuarioCp] [int] NOT NULL,
	[FechaInicioCp] [date] NOT NULL,
	[FechaFinCp] [date] NOT NULL,
	[CantidadTotalCp] [decimal](10, 2) NOT NULL,
	[ObservacionesCp] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCiclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fallecimiento_Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fallecimiento_Ganado](
	[IDFallecimientoGanado] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoFg] [int] NOT NULL,
	[IDUsuarioFg] [int] NOT NULL,
	[FechaMg] [date] NOT NULL,
	[CausaMg] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFallecimientoGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Ganado](
	[IDFamiliaGanado] [int] IDENTITY(1,1) NOT NULL,
	[IDTipoParentescoFa] [int] NOT NULL,
	[IDGanadoFa] [int] NOT NULL,
	[IDGanadoParienteFa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFamiliaGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finca]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finca](
	[IDFinca] [int] IDENTITY(1,1) NOT NULL,
	[NombreFinca] [nvarchar](100) NOT NULL,
	[Ubicacion] [nvarchar](255) NOT NULL,
	[Latitud] [decimal](10, 8) NULL,
	[Longitud] [decimal](11, 8) NULL,
	[Hectareas] [decimal](10, 2) NOT NULL,
	[Propietario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finca_Produccion]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finca_Produccion](
	[IDFincaProduccion] [int] IDENTITY(1,1) NOT NULL,
	[IDFincaFp] [int] NOT NULL,
	[TotalProducido] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFincaProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ganado](
	[IDGanado] [int] IDENTITY(1,1) NOT NULL,
	[IDFinca] [int] NOT NULL,
	[IDTipoGanado] [int] NOT NULL,
	[MarcaGanado] [nvarchar](255) NULL,
	[Raza] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Caracteristicas] [nvarchar](255) NULL,
	[NombreGanado] [nvarchar](45) NULL,
	[Sexo] [nvarchar](45) NOT NULL,
	[NumeroId] [int] NULL,
	[NumeroInventario] [int] NULL,
	[UrlImagen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento_Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento_Ganado](
	[IDMovimientoGanado] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoMg] [int] NOT NULL,
	[IDUsuarioMg] [int] NOT NULL,
	[IDTipoMovimientoMg] [int] NOT NULL,
	[IDFincaOrigne] [int] NULL,
	[IDFincaDestino] [int] NULL,
	[ValorMg] [nvarchar](45) NULL,
	[ObservacionesMg] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMovimientoGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parto]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parto](
	[IDParto] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoPt] [int] NOT NULL,
	[IDUsuarioPt] [int] NOT NULL,
	[IDCriaPt] [int] NULL,
	[FechaPt] [date] NOT NULL,
	[ObservacionesPt] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDParto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesaje]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesaje](
	[IDPesaje] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoPj] [int] NOT NULL,
	[IDUsuarioPj] [int] NOT NULL,
	[FechaPj] [date] NULL,
	[PesoPj] [int] NULL,
	[CondicionCorporal] [int] NULL,
	[Observaciones] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPesaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produccion]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produccion](
	[IDProduccion] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoPr] [int] NOT NULL,
	[IDUsuarioPr] [int] NOT NULL,
	[FechaPr] [date] NOT NULL,
	[HorarioPr] [nvarchar](205) NOT NULL,
	[CantidadPr] [decimal](10, 2) NOT NULL,
	[ObservacionesPr] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_Sanidad]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_Sanidad](
	[IDProductoSanidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreProductoPs] [nvarchar](100) NULL,
	[ContenidoMl] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProductoSanidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[IDReporte] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuarioRp] [int] NOT NULL,
	[FechaRp] [date] NOT NULL,
	[Descripcion] [nvarchar](600) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IDRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanidad]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanidad](
	[IDSanidad] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoSn] [int] NOT NULL,
	[IDUsuarioSn] [int] NOT NULL,
	[FechaSn] [date] NOT NULL,
	[DescripcionSn] [nvarchar](500) NULL,
	[ProductoSn] [int] NULL,
	[ObservacionesSn] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSanidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento_Parto]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento_Parto](
	[IDSeguimientoParto] [int] IDENTITY(1,1) NOT NULL,
	[IDPartoSp] [int] NOT NULL,
	[IDUsuarioSp] [int] NOT NULL,
	[DiasLactancia] [int] NOT NULL,
	[ProduccionTotalSp] [decimal](10, 2) NOT NULL,
	[FechaDestete] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSeguimientoParto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento_Reproduccion]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento_Reproduccion](
	[IDSeguimientoReproduccion] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoSr] [int] NOT NULL,
	[IDUsuarioSr] [int] NOT NULL,
	[FechaSr] [date] NOT NULL,
	[Servicio] [nvarchar](255) NULL,
	[Palpacion] [nvarchar](255) NULL,
	[ObservacionesSr] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSeguimientoReproduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Ganado](
	[IDTipoGanado] [int] IDENTITY(1,1) NOT NULL,
	[NombreTg] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreTg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Movimiento]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Movimiento](
	[IDTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[NombreMovimientoTm] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Parentesco]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Parentesco](
	[IDTipoParentesco] [int] IDENTITY(1,1) NOT NULL,
	[NombreTp] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoParentesco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuario]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuario](
	[IDTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoUsuarioTu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trazabilidad_Ganado]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trazabilidad_Ganado](
	[IDTrazabilidadGanado] [int] IDENTITY(1,1) NOT NULL,
	[IDGanadoTg] [int] NOT NULL,
	[IDUsuarioTg] [int] NOT NULL,
	[IdFincaTg] [int] NOT NULL,
	[IdTipoGanadoTg] [int] NOT NULL,
	[MarcaGanadoTg] [nvarchar](45) NOT NULL,
	[RazaTg] [nvarchar](255) NOT NULL,
	[CaracteristicasTg] [nvarchar](255) NOT NULL,
	[NombreGanadoTg] [nvarchar](255) NOT NULL,
	[SexoTg] [nvarchar](45) NOT NULL,
	[NumeroIdTg] [nvarchar](45) NOT NULL,
	[NumeroInventarioTg] [nvarchar](45) NOT NULL,
	[FechaCambioTg] [date] NOT NULL,
	[ComentarioTg] [nvarchar](500) NULL,
	[UrlImagenTg] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTrazabilidadGanado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDRolUr] [int] NULL,
	[TipoIdentificacion] [nvarchar](50) NOT NULL,
	[NombreUr] [nvarchar](50) NOT NULL,
	[ApellidoUr] [nvarchar](50) NOT NULL,
	[EmailUr] [nvarchar](100) NOT NULL,
	[TelefonoUr] [nvarchar](10) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[UrlImageUr] [nvarchar](205) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmailUr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Finca]    Script Date: 17/09/2025 01:20:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Finca](
	[IDUsuarioFinca] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuarioUf] [int] NOT NULL,
	[IDFincaUf] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUsuarioFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciclo_Produccion]  WITH CHECK ADD  CONSTRAINT [FK_CicloProduccion_Ganado] FOREIGN KEY([IDGanadoCp])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Ciclo_Produccion] CHECK CONSTRAINT [FK_CicloProduccion_Ganado]
GO
ALTER TABLE [dbo].[Ciclo_Produccion]  WITH CHECK ADD  CONSTRAINT [FK_CicloProduccion_Usuario] FOREIGN KEY([IDUsuarioCp])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Ciclo_Produccion] CHECK CONSTRAINT [FK_CicloProduccion_Usuario]
GO
ALTER TABLE [dbo].[Fallecimiento_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Fallecimiento_Ganado] FOREIGN KEY([IDGanadoFg])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Fallecimiento_Ganado] CHECK CONSTRAINT [FK_Fallecimiento_Ganado]
GO
ALTER TABLE [dbo].[Fallecimiento_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Fallecimiento_Usuario] FOREIGN KEY([IDUsuarioFg])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Fallecimiento_Ganado] CHECK CONSTRAINT [FK_Fallecimiento_Usuario]
GO
ALTER TABLE [dbo].[Familia_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaGanado_Ganado] FOREIGN KEY([IDGanadoFa])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Familia_Ganado] CHECK CONSTRAINT [FK_FamiliaGanado_Ganado]
GO
ALTER TABLE [dbo].[Familia_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaGanado_Pariente] FOREIGN KEY([IDGanadoParienteFa])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Familia_Ganado] CHECK CONSTRAINT [FK_FamiliaGanado_Pariente]
GO
ALTER TABLE [dbo].[Familia_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaGanado_TipoParentesco] FOREIGN KEY([IDTipoParentescoFa])
REFERENCES [dbo].[Tipo_Parentesco] ([IDTipoParentesco])
GO
ALTER TABLE [dbo].[Familia_Ganado] CHECK CONSTRAINT [FK_FamiliaGanado_TipoParentesco]
GO
ALTER TABLE [dbo].[Finca]  WITH CHECK ADD  CONSTRAINT [FK_Finca_Usuario] FOREIGN KEY([Propietario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Finca] CHECK CONSTRAINT [FK_Finca_Usuario]
GO
ALTER TABLE [dbo].[Finca_Produccion]  WITH CHECK ADD  CONSTRAINT [FK_FincaProduccion_Finca] FOREIGN KEY([IDFincaFp])
REFERENCES [dbo].[Finca] ([IDFinca])
GO
ALTER TABLE [dbo].[Finca_Produccion] CHECK CONSTRAINT [FK_FincaProduccion_Finca]
GO
ALTER TABLE [dbo].[Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Ganado_Finca] FOREIGN KEY([IDFinca])
REFERENCES [dbo].[Finca] ([IDFinca])
GO
ALTER TABLE [dbo].[Ganado] CHECK CONSTRAINT [FK_Ganado_Finca]
GO
ALTER TABLE [dbo].[Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Ganado_TipoGanado] FOREIGN KEY([IDTipoGanado])
REFERENCES [dbo].[Tipo_Ganado] ([IDTipoGanado])
GO
ALTER TABLE [dbo].[Ganado] CHECK CONSTRAINT [FK_Ganado_TipoGanado]
GO
ALTER TABLE [dbo].[Movimiento_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Ganado] FOREIGN KEY([IDGanadoMg])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Movimiento_Ganado] CHECK CONSTRAINT [FK_Movimiento_Ganado]
GO
ALTER TABLE [dbo].[Movimiento_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_TipoMovimiento] FOREIGN KEY([IDTipoMovimientoMg])
REFERENCES [dbo].[Tipo_Movimiento] ([IDTipoMovimiento])
GO
ALTER TABLE [dbo].[Movimiento_Ganado] CHECK CONSTRAINT [FK_Movimiento_TipoMovimiento]
GO
ALTER TABLE [dbo].[Movimiento_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Usuario] FOREIGN KEY([IDUsuarioMg])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Movimiento_Ganado] CHECK CONSTRAINT [FK_Movimiento_Usuario]
GO
ALTER TABLE [dbo].[Parto]  WITH CHECK ADD  CONSTRAINT [FK_Parto_Cria] FOREIGN KEY([IDCriaPt])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Parto] CHECK CONSTRAINT [FK_Parto_Cria]
GO
ALTER TABLE [dbo].[Parto]  WITH CHECK ADD  CONSTRAINT [FK_Parto_Ganado] FOREIGN KEY([IDGanadoPt])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Parto] CHECK CONSTRAINT [FK_Parto_Ganado]
GO
ALTER TABLE [dbo].[Parto]  WITH CHECK ADD  CONSTRAINT [FK_Parto_Usuario] FOREIGN KEY([IDUsuarioPt])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Parto] CHECK CONSTRAINT [FK_Parto_Usuario]
GO
ALTER TABLE [dbo].[Pesaje]  WITH CHECK ADD  CONSTRAINT [FK_Pesaje_Ganado] FOREIGN KEY([IDGanadoPj])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Pesaje] CHECK CONSTRAINT [FK_Pesaje_Ganado]
GO
ALTER TABLE [dbo].[Pesaje]  WITH CHECK ADD  CONSTRAINT [FK_Pesaje_Usuario] FOREIGN KEY([IDUsuarioPj])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Pesaje] CHECK CONSTRAINT [FK_Pesaje_Usuario]
GO
ALTER TABLE [dbo].[Produccion]  WITH CHECK ADD  CONSTRAINT [FK_Produccion_Ganado] FOREIGN KEY([IDGanadoPr])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Produccion] CHECK CONSTRAINT [FK_Produccion_Ganado]
GO
ALTER TABLE [dbo].[Produccion]  WITH CHECK ADD  CONSTRAINT [FK_Produccion_Usuario] FOREIGN KEY([IDUsuarioPr])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Produccion] CHECK CONSTRAINT [FK_Produccion_Usuario]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Usuario] FOREIGN KEY([IDUsuarioRp])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Usuario]
GO
ALTER TABLE [dbo].[Sanidad]  WITH CHECK ADD  CONSTRAINT [FK_Sanidad_Ganado] FOREIGN KEY([IDGanadoSn])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Sanidad] CHECK CONSTRAINT [FK_Sanidad_Ganado]
GO
ALTER TABLE [dbo].[Sanidad]  WITH CHECK ADD  CONSTRAINT [FK_Sanidad_Producto] FOREIGN KEY([ProductoSn])
REFERENCES [dbo].[Producto_Sanidad] ([IDProductoSanidad])
GO
ALTER TABLE [dbo].[Sanidad] CHECK CONSTRAINT [FK_Sanidad_Producto]
GO
ALTER TABLE [dbo].[Sanidad]  WITH CHECK ADD  CONSTRAINT [FK_Sanidad_Usuario] FOREIGN KEY([IDUsuarioSn])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Sanidad] CHECK CONSTRAINT [FK_Sanidad_Usuario]
GO
ALTER TABLE [dbo].[Seguimiento_Parto]  WITH CHECK ADD  CONSTRAINT [FK_SeguimientoParto_Parto] FOREIGN KEY([IDPartoSp])
REFERENCES [dbo].[Parto] ([IDParto])
GO
ALTER TABLE [dbo].[Seguimiento_Parto] CHECK CONSTRAINT [FK_SeguimientoParto_Parto]
GO
ALTER TABLE [dbo].[Seguimiento_Parto]  WITH CHECK ADD  CONSTRAINT [FK_SeguimientoParto_Usuario] FOREIGN KEY([IDUsuarioSp])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Seguimiento_Parto] CHECK CONSTRAINT [FK_SeguimientoParto_Usuario]
GO
ALTER TABLE [dbo].[Seguimiento_Reproduccion]  WITH CHECK ADD  CONSTRAINT [FK_SeguimientoReproduccion_Ganado] FOREIGN KEY([IDGanadoSr])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Seguimiento_Reproduccion] CHECK CONSTRAINT [FK_SeguimientoReproduccion_Ganado]
GO
ALTER TABLE [dbo].[Seguimiento_Reproduccion]  WITH CHECK ADD  CONSTRAINT [FK_SeguimientoReproduccion_Usuario] FOREIGN KEY([IDUsuarioSr])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Seguimiento_Reproduccion] CHECK CONSTRAINT [FK_SeguimientoReproduccion_Usuario]
GO
ALTER TABLE [dbo].[Trazabilidad_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_Ganado] FOREIGN KEY([IDGanadoTg])
REFERENCES [dbo].[Ganado] ([IDGanado])
GO
ALTER TABLE [dbo].[Trazabilidad_Ganado] CHECK CONSTRAINT [FK_Trazabilidad_Ganado]
GO
ALTER TABLE [dbo].[Trazabilidad_Ganado]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_Usuario] FOREIGN KEY([IDUsuarioTg])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Trazabilidad_Ganado] CHECK CONSTRAINT [FK_Trazabilidad_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IDRolUr])
REFERENCES [dbo].[Rol] ([IDRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Usuario_Finca]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFinca_Finca] FOREIGN KEY([IDFincaUf])
REFERENCES [dbo].[Finca] ([IDFinca])
GO
ALTER TABLE [dbo].[Usuario_Finca] CHECK CONSTRAINT [FK_UsuarioFinca_Finca]
GO
ALTER TABLE [dbo].[Usuario_Finca]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFinca_Usuario] FOREIGN KEY([IDUsuarioUf])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Usuario_Finca] CHECK CONSTRAINT [FK_UsuarioFinca_Usuario]
GO
USE [master]
GO
